@{
    ViewData["Title"] = "Home Page";
}
@model List<Practice2025_Gusev.Models.Student>

<div class="text-left">
    <h1>Гусев Илья Викторович</h1>
    <h2>Специальность: Инженерия программного обеспечения</h2>
    <h3>студент 3 курса</h3>
</div>

<div>
    <h2>Поиск студентов по номеру группы</h2>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
            <div>
                <label for="groupNumber">Номер группы:</label>
                <input type="text" id="groupNumber" name="groupNumber">
            </div>
            <button type="submit">Найти</button>
    }
</div>
@if (Model != null && Model.Any())
{
  <div>
    <h3>Список студентов</h3>
      <ul>
         @foreach (var students in Model)
          {
            <li>
                 ID: @students.StudentId,<br />
                 ФИО: @students.FullName,<br />
                 Год поступления: @students.YearAdmission,<br />
                 Дата рождения: @students.DateBirth.ToShortDateString(),<br />
                 Группа: @students.Group?.GroupNumber, <br />
                 Специальность: @students.Group?.Specialty?.SpecialtyName, <br />
                 Институт: @students.Group?.Institute?.NameInstitute<br />
           </li>
          }
     </ul>
    </div>
}
else
{
    <div>
          <p>Группа с таким номером не найдена</p>
    </div>
    
}


